<link rel="stylesheet" href="/css/app.css">  
<nav class="navbar"> <!--all the links to the other pages-->
    <a href="/">Home</a>
    <a href="/history">History</a>
    <a href="/staff">Staff</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/external">Social Media</a>
    <a href="/contact">Contact Us</a>
</nav>