<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">  
    <title>
        Contact
    </title>
</head>

<body class="contact">
    <%- include('./partials/nav') %>
        <h1 class="contact-h1">
            Contact Us  
        </h1>
        <% contact.forEach(element => { %>
            <h3 class="contact-h3">Email: <%= element.email%></h3>
            <h3>Phone: <%= element.phone%></h3>
        <%});%>
</body>

</html>