<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">  
    <title>
        Portfolio
    </title>
</head>

<body>
    <%- include('./partials/nav') %>
        <h1>
            Previous Projects 
        </h1>
        <% portfolio.forEach(element => { %>
            <h3><%= element.project%></h3>
            <p><%=element.timeSpan%></p>
            <p><%= element.rating%></p> 
        <%});%>
</body>

</html>